function requestReward(requestHTML, unlinkHTML) {
  const state = document.getElementById("<%= @reward.child.name.strip %>-<%= @reward.name.strip.split.join %>-request-state");
  const requestLink = document.getElementById("<%= @reward.child.name.strip %>-<%= @reward.name.strip.split.join %>-request-link");
  state.innerHTML = requestHTML;
  requestLink.innerHTML = unlinkHTML;
}

<% unless @reward_request.errors.any? %>
  requestReward(`<div style="text-align: center;"> <%= icon('fas', 'hourglass')%> </div>`, `<%= cl_image_tag @reward.tag, height: 50 %>`);
<% end %>
