<div class="all-rewards">
  <div class="text-center">

    </div>
    <div class="requests-status-list">
        <% if current_child.done_all_mandatory? %>
        <% current_child.rewards.select(&:daily).each do |reward| %>
        <div class="each-reward">
          <% if reward.reward_requests.any? %>
              <% if reward.reward_requests.last.state == 0 %>
                <%#= reward.name %>
                <%= cl_image_tag "#{reward.icon}", height: 50 %>
                <span class="pending"> pending</span>

              <% elsif !reward.claimed %>

                <div id="<%= current_child.name.strip %>-<%= reward.name.strip.split.join %>-request-link">
                  <%= link_to reward_reward_requests_path(reward), remote: true, method: :post do %>
                  <%#= reward.name %>
                  <%= cl_image_tag "#{reward.icon}", height: 50 %>
                  <% end %>
                </div>

              <% else %>
                <%#= reward.name %>
                <%= cl_image_tag "#{reward.icon}", height: 50 %>
                <span class="claimed"> Claimed!</span>
              <% end %>

              <div id="<%= current_child.name.strip %>-<%= reward.name.strip.split.join %>-request-state" style="color: #5D5A75;"></div>

          <% else %> <!-- no reward requests yet -->
              <div id="<%= current_child.name.strip %>-<%= reward.name.strip.split.join %>-request-link">
                  <%= link_to reward_reward_requests_path(reward), remote: true, method: :post do %>
                      <%#= reward.name %>
                      <%= cl_image_tag "#{reward.icon}", height: 50 %>
                  <% end %>
              </div>

              <div id="<%= current_child.name.strip %>-<%= reward.name.strip.split.join %>-request-state" style="color: #5D5A75;"></div>
          <% end %>
        </div>
        <% end %>
        <% else %>
        <h6>Finish all quests to claim your reward!</h6>
        <% end %>
    </div>
</div>
