<div class="all-rewards text-center">
    <%= image_tag 'gift.gif', height: 150 %>
    <h3>Rewards</h3>
    <div>
        <% if current_child.tasks.select(&:mandatory).any? && current_child.tasks.select(&:mandatory).all? {|task| task.task_submissions.any? ? task.task_submissions.last.state == 1 : false } %>
        <% current_child.rewards.select(&:daily).each do |reward| %>
        <div class="each-reward">
          <% if reward.reward_requests.any? %>
              <% if reward.reward_requests.last.state == 0 %>
                <%= reward.name %>
                --- Pending...

              <% elsif !reward.claimed %>
                <div id="<%= reward.name.strip.split.join %>-request-link">
                  <%= link_to reward_reward_requests_path(reward), remote: true, method: :post do %>
                  <%= reward.name %>
                  <% end %>
                </div>

              <% else %>
                <%= reward.name %>
                --- Claimed!
              <% end %>

              <div id="<%= reward.name.strip.split.join %>-request-state">(last request:
                  <%= reward.reward_requests.last.state %>)
              </div>
          <% else %>
          <div id="reward-request-link">
                  <%= link_to reward_reward_requests_path(reward), remote: true, method: :post do %>
                  <%= reward.name %>
                  <% end %>
                </div>
          <% end %>
        </div>
        <% end %>
        <% else %>
        <h5>Finish all quests to claim your reward!</h5>
        <% end %>
    </div>
</div>
