<div class="all-tasks">
    <h4>         <%= cl_image_tag 'goal', height: 50 %></h4>
    <ul class="task-list">
        <% @tasks.select(&:mandatory).each do |task| %>
        <li>
            <div class="task-name">
                <%= task.objective.capitalize %> | <%= task.completed? ? "(Done!)" : "(TODO)" %>
            </div>
            <div class="playground-task-details">
                <h5>You will need to:</h5>
                <p>
                    <%= task.key_results %>
                    <% unless task.photo.to_s.empty? %>
                        <%= cl_image_tag task.photo, height: 200, width: 300, crop: :fill %>
                    <% end %>
                </p>
                <hr>
                <% if task.task_submissions.any? %>
                <% if task.task_submissions.last.state.zero? %>
                Submission status: Pending...
                <% elsif task.task_submissions.last.state.positive? %>
                Submission status: <%= icon('fas', 'check') %>
                <% else %>
                Submission status: <%= icon('fas', 'times') %> <p>Please submit again!</p>
                <div class="btn-make-submission">
                    Make a submission
                </div>
                <div style="display: none;">
                    <%= simple_form_for [task, task.task_submissions.new] do |f| %>
                    <%= f.input :comment %>
                    <%= f.input :photo %>
                    <%= f.button :button, class: 'send-submission', type: :submit do %>
                      <%= icon('fas', 'check') %>
                    <% end %>
                    <% end %>
                </div>
                <% end %>
                <% else %>
                <div class="btn-make-submission">
                    Make a submission
                </div>
                <div style="display: none;">
                    <%= simple_form_for [task, task.task_submissions.new] do |f| %>
                    <%= f.input :comment %>
                    <%= f.input :photo %>
                    <%= f.button :button, class: 'send-submission', type: :submit do %>
                      <%= icon('fas', 'check') %>
                    <% end %>
                    <% end %>
                </div>
                <% end %>
            </div>
        </li>
        <% end %>
    </ul>
    <!---------------------- Optional Tasks UNFINISHED -->
    <!-- <br>
    <h4><%#= icon('fas', 'chevron-right') %> Ultimate Tasks:</h4>
    <ul>
        <%# @tasks.reject(&:mandatory).each do |task| %>
        <li>
            <h5><%#= task.objective.capitalize %></h5>
            <div class="task-details">
                <p>
                    <%#= task.key_results %>
                </p>
                <%#= link_to 'Make a submission', new_task_task_submission_path(task) %>
            </div>
        </li>
        <%# end %>
    </ul> -->
    <!----------------------- RE-IMPLEMENT LATER -->
</div>
<!------------------>
<script>
const allTasks = document.querySelectorAll(".task-name");

allTasks.forEach(task => {
    task.addEventListener('click', event => {
      console.log(event.target);
        event.target.nextElementSibling.classList.toggle("visible-task-details");
        event.target.classList.toggle("playground-active-task");
    })
})

const submissionsBtns = document.querySelectorAll(".btn-make-submission");
submissionsBtns.forEach(makeSubmission => {
    makeSubmission.addEventListener('click', event => {
        const d = makeSubmission.nextElementSibling.style.display;
        makeSubmission.nextElementSibling.style.display = d == 'none' ? 'block' : 'none';
    })
})
</script>
