<div id="playground-map" style="background-image: url('<%= cl_image_path 'pg' %>');">
    <div>
        <div class="todays-quests">
          <div class="text-center">
            <h2 style="font-weight: 700; color: white;">Welcome back <%= current_child.name %></h2>
            <h5 id="points-left"><%= current_child.point %> points <span><%= icon('fas', 'bomb') %></span></h5>
            <%= render 'rewards' %>
            <hr>
            </div>

            <%= render 'tasks' %>
        </div>
            <div id="pikachu" class="btn-catch-pika"><%= cl_image_tag 'pika' %></div>
            <div id="pos-1" class="pos-current"> <%= cl_image_tag 'current' if current_child.task_submissions.blank? || current_child.completed_tasks == 0 %> </div>
            <div id="pos-2"><%= cl_image_tag 'current' if current_child.progress == 2.fdiv(10) %></div>
            <div id="pos-3"><%= cl_image_tag 'current' if current_child.progress == 3.fdiv(10) %></div>
            <div id="pos-4"><%= cl_image_tag 'current' if current_child.progress == 4.fdiv(10) %></div>
            <div id="pos-5"><%= cl_image_tag 'current' if current_child.progress == 5.fdiv(10) %></div>
            <div id="pos-6"><%= cl_image_tag 'current' if current_child.progress == 6.fdiv(10) %></div>
            <div id="pos-7"><%= cl_image_tag 'current' if current_child.progress == 7.fdiv(10) %></div>
            <div id="pos-8"><%= cl_image_tag 'current' if current_child.progress == 8.fdiv(10) %></div>
            <div id="pos-9"><%= cl_image_tag 'current' if current_child.progress == 9.fdiv(10) %></div>
            <div id="pos-10"><%= cl_image_tag 'current' if current_child.progress == 10.fdiv(10) %></div>


    </div>
</div>
<!-- ####################################################### -->
<script>
const btnCatch = document.querySelector('.btn-catch-pika');
btnCatch.addEventListener('click', event => catchPika());

function catchPika() {
  const last = document.getElementById('pos-10');
  if (last.innerHTML != '') {
    next = document.getElementById('pikachu');
    next.classList.add('pokeball-catched');
    next.innerHTML = `<%= image_tag 'pokeball' %>`;
    last.classList.remove('pos-current');
    last.innerHTML = "";
  }
}

// function moveToNext() {
//   const current = document.querySelector('.pos-current');

//   let next;
//   if (current.nextElementSibling == null) {
//     next = document.getElementById('pikachu');
//     next.classList.add('pokeball-catched');
//     next.innerHTML = `<%#= image_tag 'pokeball' %>`;
//   } else {
//     next = current.nextElementSibling;
//     next.classList.add('pos-current');
//     next.innerHTML = `<%#= cl_image_tag 'current' %>`;
//   }

//   current.classList.remove('pos-current');
//   current.innerHTML = "";
// }

</script>
