<div class="container">
    <div class="container text-center">
        <h2><%= current_child.name %></h2>
        <h5><%= current_child.point %> points</h5>
        <h4> [===============--------] <%= icon('fas', 'bomb') %></h4>

    </div>
    <%= render 'rewards' %>
    <hr>
    <%= render 'tasks' %>
</div>
