<div class="container">
  <ul>
<%= current_child.name %>
<% @tasks.each do |task| %>
<li>
<p><%=link_to task_path(task) do %>
<%= task.objective %>
<% end %></p>
<p><%= task.key_results %></p>
<%= cl_image_tag task.photo, height: 300, width: 400, crop: :fill %>
</li>
<% end %>
</ul>
</div>
