<div class="homepage-banner" style="background-image: url('<%= cl_image_path 'home-updated' %>')">
    <div class="banner-text" style="font-family: 'Fjalla One', sans-serif;">
        <h3>Human Beans is the best way to get kids to <i>want</i> to do chores and makes chores easy to manage for grown-ups! </h3>
        <div class="btn-get-started">
        <%= link_to new_parent_registration_path do %>
        <h5>Get Started <%= icon('fas', 'chevron-right') %> </h5>
        <% end %></div>
    </div>
</div>
<div class="container">
    <div class="img-group-odd">
        <div class="row">
            <!-- one col is one photo or one text box -->
            <div class="img-text-combo">
                <div class="col-xs-12 col-sm-6">
                    <%= cl_image_tag 'chicken_teamwork.gif', class: 'img-gifs' %>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="text-card">
                        <h4>Help children develop better habits through positive reinforcement without punishment</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- one col is one photo or one text box -->
            <div class="img-text-combo">
                <div class="col-xs-12 col-sm-6">
                    <div class="text-card">
                        <h4>Kids will want to finish their chores to unlock rewards that they earn.</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <%= cl_image_tag 'playful_grownup.gif', class: 'img-gifs' %>
                </div>
            </div>
        </div>
    </div>
    <div class="img-group-last">
        <div class="row">
            <div class="img-text-combo">
                <div class="col-xs-12 col-sm-6">
                    <%= cl_image_tag 'better_parent.gif', class: 'img-gifs last-gif' %>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="text-card">
                        <h5>Spend more quality time together!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="homepage-footer text-center" style="background: rgba(251, 232, 230, 0.8);">
    <div class="social-links">
        <%= icon('fab', 'instagram') %>
        <%= icon('fab', 'github') %>
        <%= icon('fab', 'twitter') %>
        <%= icon('fab', 'line') %>
        <%= icon('fab', 'facebook') %>
    </div>
    <div class="more-info">
      <h6>About us</h6>
      <h6>Blog</h6>
      <h6>Press</h6>
      <h6>Contact</h6>
    </div>
</div>
