<div class='add-feature'>
  <%= cl_image_tag 'plant',  height: 50, width: 50, class: "dashboard-icon"%>
  <h4>Child </h4>
  <%= cl_image_tag 'plus_1', height: 30, width: 30, class: "test btn-add-object" %>
</div>
    <!-- The Modal -->
    <div class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <%= simple_form_for @child, url: add_child_path do |f| %>
            <%= f.input :name,
                required: true,
                autofocus: true %>
            <%= f.input :email, :as => :hidden, :input_html => { :value => "doe@beans.com" } %>
 <!--           # required: true,
                # autofocus: true ,
                # input_html: { autocomplete: "email" } -->
            <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
            <div class="text-center ">
            <%= f.submit "Add Child", class: 'btn btn-warning' %>
            </div>
            <% end %>
        </div>
    </div>

