<div class="children-info">
  <div class="children-namelist">
    <% current_parent.children.each do |c| %>
    <div class="each-child" data-id="<%= c.id %>">
        <h4 class="child-name" > <%= c.name.capitalize %> <%= icon('fas', 'stopwatch') if c.pending_submissions? || c.pending_requests? %></h4>
    </div>
<% end %>
  </div>


<div id="welcome-content">
  <h4><strong>Hello <%= current_parent.name.capitalize %>, how are the beans doing today? </strong></h4>
  <div><%= cl_image_tag 'two-pots', width: 500%></div>
</div>

<% current_parent.children.each do |child| %>
    <div class="task-group hidden" data-id="<%= child.id %>">
        <% if child.rewards.any? %>
        <!-- no wishlist display if no reward -->
        <h5>Wishlist:</h5>
        <div class="child-wishlist">
            <% child.daily_rewards.each do |reward| %>
            <div class="each-request">
                <p> <%= reward.name %></p>
                <div>
                    <%= cl_image_tag "#{reward.tag}", height: 50 %>
                    <%#= reward.name %>
                </div>
                <% if reward.reward_requests.any? %>
                <% req = reward.reward_requests.last %>
                <!------------- AJAX reward request ---------->
                <% if req.state == 0 %>
                <div id="<%= child.name.strip %>-<%= req.reward.name.strip.split.join %>-actions">
                    <span>
                                <%= link_to reward_reward_request_path(req.reward, req, approved: true),
                                remote: true, method: :patch do %><%= icon('fas', 'check') %> Grant<% end %>
                              </span>
                    <span>
                                <%= link_to reward_reward_request_path(req.reward, req, approved: false),
                                remote: true, method: :patch do %><%= icon('fas', 'times') %> Nope<% end %>
                              </span>
                </div>
                <% else %>
                <div id="request-state">
                    <%= req.state > 0 ? "(Granted)" : "(Rejected)" %>
                </div>
                <% end %>
                <!-------- end of AJAX reward request ------>
                <% end %>
            </div>
            <% end %>
        </div>
        <% end %>
        <!-- end of if child.rewards.any? -->
        <div>
            <div class="row">
                <% if child.tasks.any? %>
                <% child.tasks.each do |task| %>
                <div class="col-sm-3 col-xs-6 each-task">
                    <div class="dashboard-task-name" data-id="<%= task.id %>">
                        <p>
                            <%= task.objective.capitalize %>
                        </p>
                        <!-- indication of lask task submission state -->
                        <!-- change to colored border later!!! -->
                        <% unless task.task_submissions.blank? %>
                        <% if task.task_submissions.last.state == 1 %>
                        <%= icon('fas', 'check') %>
                        <%#= cl_image_tag 'checked_2' %>
                        <% elsif task.task_submissions.last.state == 0 %>
                        <%= icon('fas', 'spinner') %>
                        <%#= cl_image_tag 'hourglass', height:32, width:32 %>
                        <% else %>
                        <%= icon('fas', 'times') %>
                        <%#= cl_image_tag 'error_2' %>
                        <%end %>
                        <%end %>
                        <!-- end of indication -->
                    </div>
                </div>
                <% end %>
                <% else %>
                <div class="container"><h5>No tasks yet! </h5>
                </div>
                <% end %>
            </div>
            <div class="row">
                <% child.tasks.each do |task| %>
                <!--  <div class="col-sm-6"> -->
                <div class="task-details" data-id="<%= task.id %>">
                    <p><strong>Details:</strong>
                        <%= task.key_results %>
                    </p>
                    <% if task.task_submissions.any? %>
                    <% task.task_submissions.last(2).each do |submission| %>
                    <div>
                        <div class="submission-details">
                            <% unless submission.comment.strip.empty? %>
                            <strong>Message:</strong>
                            <p>
                                <%= submission.comment %>
                            </p>
                            <% end %>
                            <% unless submission.photo.to_s.empty? %>
                            <%= cl_image_tag submission.photo, height: 300, width: 400, crop: :fill %>
                            <% end %>
                        </div>
                        <!------------- AJAX task submission ---------->
                        <% if submission.state == 0 %>
                        <div id="<%= task.objective.strip.split.join %>submission-actions">
                            <span><%= link_to task_task_submission_path(task, submission, approved: true), remote: true, method: :patch do %><%= icon('fas', 'check') %> Approve<% end %></span>
                            <span><%= link_to task_task_submission_path(task, submission, approved: false), remote: true, method: :patch do %><%= icon('fas', 'times') %> Disapprove<% end %></span>
                        </div>
                        <hr>
                        <% else %>
                        <div id="submission-state">
                            <%  if submission.state > 0  %>
                            Last submission: Approved
                            <%  else %>
                            Last submission: Rejected
                            <%  end %>
                        </div>
                        <hr>
                        <% end %>
                        <!------------------------------------------>
                    </div>
                    <% end %>
                    <% end %>
                </div>
                <!-- </div> -->
                <% end %>
            </div>
        </div>
    </div>
<% end %>
</div>
