<h3>Children</h3>
<div class="btn-add-object">
    <%= link_to new_child_path do %>
    Add a child
    <% end %>
</div>
<div class="childrens-list">
    <ul>
        <% current_parent.children.each do |child| %>
        <li class="each-child">
            <h5><%= child.name %></h5>
            <% if child.reward_requests.any? %>
            <h5>Wishlist:</h5>
            <div class="child-wishlist">


                    <% child.rewards.each do |reward| %>
                    <div class="each-request">
                    <div><%= reward.name %></div>
                    <% if reward.reward_requests.any? %>
                      <% req = reward.reward_requests.last %>
                    <!------------- AJAX reward request ---------->
                              <% if req.state == 0 %>
<div id="<%= req.reward.name.strip %>-actions">
<span>
    <%= link_to reward_reward_request_path(req.reward, req, approved: true),
    remote: true, method: :patch do %><%= icon('fas', 'check') %>Grant<% end %>
  </span>
  <span>
    <%= link_to reward_reward_request_path(req.reward, req, approved: false),
    remote: true, method: :patch do %><%= icon('fas', 'times') %> Say No<% end %>
  </span>
</div>
                              <% else %>
                              <div id="request-state">
                              <%= req.state > 0 ? "(Granted)" : "(Rejected)" %>
                              </div>
                              <% end %>
                    <!------------------------------------------>
                    <% end %>
                    </div>
                    <% end %>

            </div>
            <% end %>
            <% child.tasks.each do |task| %>
            <div class="each-task">
                <h5><%= icon('fas', 'chevron-right') %> Task: <%= task.objective.capitalize %></h5>
                <% if task.task_submissions.any? %>
                <% task.task_submissions.last(3).each do |submission| %>
                <div>
                    <!------------- AJAX task submission ---------->

                        <% if submission.state == 0 %>
                        <div id="<%= task.objective.strip %>submission-actions">
                        <span>
                                    <%= link_to task_task_submission_path(task, submission, approved: true), remote: true, method: :patch do %>
                                    <%= icon('fas', 'check') %> Approve
                                    <% end %></span>
                        <span>
                                      <%= link_to task_task_submission_path(task, submission, approved: false), remote: true, method: :patch do %>
                                      <%= icon('fas', 'times') %> Disapprove
                                      <% end %></span>
                        </div>
                        <% else %>
                        <div id="submission-state">
                        <%= submission.state > 0 ? "(Approved)" : "(Disapproved)" %>
                        </div>
                        <% end %>
                    <!------------------------------------------>
                    <div class="submission-details">
                        Message:<p>
                            <%= submission.comment %>
                        </p>
                        <% unless submission.photo.to_s.empty? %>
                        <%= cl_image_tag submission.photo, height: 300, width: 400, crop: :fill %>
                        <% end %>
                    </div>
                </div>
                <% end %>
                <% end %>
                <% end %>
            </div>
        </li>
        <% end %>
    </ul>
</div>
