<div class='add-feature'>
    <%= cl_image_tag 'pinwheel', height: 50, width: 50, class: "dashboard-icon"%>
    <h4> Reward</h4>
    <%= cl_image_tag 'plus', height: 30, width: 30,class: "test btn-add-object" %>
</div>
<div>
    <!-- The Modal -->
    <div class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <%= simple_form_for [@reward] do |f| %>
            <%= f.input :name , label: 'Reward'%>
            <%= f.input :category, collection: %w[Gaming Entertainment Outdoor Allowance Tablet Event Other] %>
            <%= f.input :details %>
            <%= f.input :price , label: 'Points needed'%>
            <%= f.input :child_id, collection: @list , label_method: :second, value_method: :first %>
            <%= f.input :daily %>
            <%= f.submit 'Add Reward', class: 'btn btn-default'%>
            <% end %>
        </div>
    </div>
    <hr>
    <!----------- Children's rewards list -------------->
    <h4> Goals <%= cl_image_tag 'party', height: 30 %></h4>
    <div>
        <% current_parent.children.each do |child| %>
        <div style="font-weight: bold; font-size: 20px;">
            <%= child.name %>
        </div>
        <!-- Displaying each child's longterm rewards -->
        <% child.rewards.reject(&:daily).each do |r| %>
        <h5> - <%= r.name %></h5>
        <% end %>
        <% end %>
    </div>
</div>
