
<div class='add-feature'>

  <%= cl_image_tag 'watering-can',  height: 50, width: 50, class: "dashboard-icon"%>
  <h4>Task</h4>
  <%= cl_image_tag 'plus_1', height: 30, width: 30,class: "test btn-add-object" %>
</div>
<div>
    <!-- Trigger/Open The Modal -->
    <!-- The Modal -->
    <div class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <%= simple_form_for @task do |f| %>
            <%= f.input :objective, label: 'Chore Name' %>
            <%= f.input :key_results, label: 'Instructions' %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <% @list = current_parent.children.map do |child| %>
            <% [child.id, child.name] %>
            <% end %>
            <%= f.input :child_id, collection: @list, label_method: :second, value_method: :first %>
            <%= f.input :mandatory, label: 'Daily?' %>
            <div class="text-center">
            <%= f.submit 'Assign Task', class: 'btn btn-warning' %>
            </div>
            <% end %>
        </div>
    </div>
</div>
