<!-- Dashboad components: -->
<!-- add child button, children list with status -->
<!-- create task button, mandatory tasks list -->
<!-- create reward button, daily rewards list  -->
<div class="dashboard-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h2>Welcome!</h2>
                <h5><%= current_parent.name %> (<%= current_parent.email %>)</h5>
            </div>
            <div class="tasks-info">
                <div class="col-xs-6 col-md-4">
                    <%= render 'tasks' %>
                </div>
            </div>
            <div class="rewards-info">
                <div class="col-xs-6 col-md-4">
                    <%= render 'rewards' %>
                </div>
            </div>
            <div class="children-info">
                <div class="col-xs-12">
                    <%= render 'children' %>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------->
<script>
let modal = document.getElementsByClassName('modal');

// Get the button that opens the modal
// let btn = document.getElementById("btn-task-modal");

// Get the <span> element that closes the modal
// let span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
// btn.onclick = function() {
//     modal.style.display = "block";
// }

// // When the user clicks on <span> (x), close the modal
// span.onclick = function() {
//     modal.style.display = "none";
// }

// When the user clicks anywhere outside of the modal, close it

// window.onclick = function(event) {
//     if (Array.from(modal).includes(event.target)) {
//         modal.style.display = "none";
//     }
// }


let test = document.querySelectorAll(".test")

let myFunction = function(i) {
    modal[i].style.display = "block";
};

for (let i = 0; i < test.length; i++) {
    test[i].onclick = function(event) {
        console.log(event.target)
        myFunction(Array.from(test).indexOf(event.target))
    };
}

let closes = document.querySelectorAll(".close")

let closeModal = function(i) {
    modal[i].style.display = "none";
};

for (let i = 0; i < closes.length; i++) {
    closes[i].onclick = function(event) {
        closeModal(Array.from(closes).indexOf(event.target))
    };
}


// let test = document.getElementById('popup');

// test.onclick = function () {
//   let popup
//     let popup = document.getElementById("myPopup");
//     popup.classList.toggle("show");
// }
</script>
